<div class="container">
    <h1>User Form</h1>
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">        
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" 
            class="form-control" 
            id="firstName" required 
            [(ngModel)]="model.firstName" 
            name="firstName" 
            #firstName="ngModel"
            minlength="3">        
        <!-- display validation error-->
        <div *ngIf="firstName.touched && firstName.errors">
            <div class="alert alert-danger" 
                *ngIf="firstName.errors.required">
                First name is required
            </div>
            <div class="alert alert-danger"
                *ngIf="firstName.errors.minlength">
                First name should be minimum 3 characters.
            </div>         
        </div>         
      </div>
      <div class="form-group">
        <label for="email">Email</label>        
        <input type="text" 
            class="form-control" 
            id="email" required 
            [(ngModel)]="model.email" 
            name="email" 
            #email="ngModel"
            minlength="3">
        <!-- display validation error-->
        <div *ngIf="email.touched && email.errors">
            <div class="alert alert-danger" 
                *ngIf="email.errors.required">
                Email is required
            </div>
            <div class="alert alert-danger"
                *ngIf="email.errors.minlength">
                Email should be minimum 3 characters.
            </div>         
        </div>           
      </div>
      <div class="form-group">
        <label for="country">Country</label>        
        <select class="form-control" id="country" [(ngModel)]="model.country" name="country">
            <option *ngFor="let c of countries" [value]="c">{{c}}</option>
        </select>        
      </div>      
      <button type="submit" class="btn btn-default" [disabled]="!userForm.form.valid">Submit</button>                   
    </form>
</div>
<div [hidden]="!submitted">
  You submitted the following:  
  First Name: {{ model.firstName }}<br>
  Email: {{ model.email }}<br>
  Country: {{ model.country }}<br>
  <button class="btn btn-default" (click)="submitted=false">Remove</button>
</div>
